{% extends 'consultas/base.html' %}
{% load widget_tweaks %}

{% block content %}
<h2>Novo Atendimento</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.nome_paciente.id_for_label }}" class="form-label">{{ form.nome_paciente.label }}</label>
        {{ form.nome_paciente|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ form.primeira_avaliacao.label }}</label>
        <div>
            {% for radio in form.primeira_avaliacao %}
                <div class="form-check form-check-inline">
                    {{ radio.tag }}
                    <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="mb-3">
        <label for="{{ form.cid.id_for_label }}" class="form-label">{{ form.cid.label }}</label>
        {{ form.cid|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}